@keyframes rulesItemText {
  0%,
  30% {
    opacity: 0;
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rulesItemNumber {
  0% {
    transform: scale(0);
    color: transparent;
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
    color: $c-light;
  }
}


@keyframes rulesLink {
  0% {
    width: 6rem;
    opacity: 0;
    margin-left: calc(100% - 6rem)
  }

  1% {
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
    margin-left: 0;
  }
}

@keyframes sliderControlPrev {
  0% {
    transform: translateX(-4rem) rotate(-135deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

@keyframes sliderControlNext {
  0% {
    transform: translateX(4rem) rotate(135deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}


.screen {
  &.active {
    .intro__title.active .intro__word>span,
    .intro__date.active .intro__date-word>span {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    .intro__message {
      opacity: 1;
      transform: translateY(0);
    }

    .form__field {
      width: calc(100% - 21rem);
      transition: width 0.7s ease;
    }

    @for $i from 1 through 4 {
      .rules__item:nth-child(#{$i}) {
        &::before {
          opacity: 0;
          animation: rulesItemNumber 0.7s ease-out #{(0.15s * $i) + 0.7s} forwards;
        }

        p {
          opacity: 0;
          animation: rulesItemText 0.7s ease-out #{(0.15s * $i) + 0.7s} forwards;
        }
      }
    }

    .rules__link {
      color: transparent;
      transition: color 0.2s ease-out 0.35s;

      &::before {
        top: 0;
        left: 0;
        transform: none;
        border: none;
        opacity: 0;
      }

      &.active {
        color: $c-dark;

        &::before {
          animation: rulesLink 0.35s ease-out forwards;
        }
      }
    }

    .slider__pagination {
      opacity: 1;
      transition: opacity 0.7s ease 1s;
    }

    .slider__control--prev {
      animation: sliderControlPrev 0.7s cubic-bezier(0.25, 0.03, 0, 1.52) 1s backwards;
      animation-play-state: running;
    }

    .slider__control--next {
      animation: sliderControlNext 0.7s cubic-bezier(0.25, 0.03, 0, 1.52) 1s both;
      animation-play-state: running;
    }
  }
}

.swiper-slide-active {
  & .slider__item-text {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.7s ease .3s;
  }
}

.swiper-slide-next {
  & .slider__item-text {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.7s ease .6s;
  }
}

.page {
  &--loaded {
    .page-header__logo {
      opacity: 1;
      transform: translateX(0);
      transition-property: transform, opacity;
      transition-duration: 0.7s;
      transition-timing-function: cubic-bezier(0.85, 0.5, 1, 1);
    }

    .page-header__menu {
      opacity: 1;
      transition: opacity 0.7s cubic-bezier(0.85, 0.5, 1, 1);
    }

    .screen__footer {
      opacity: 1;
      transform: translateY(0);
      transition-property: transform, opacity;
      transition-duration: 0.7s;
      transition-timing-function: cubic-bezier(0.85, 0.5, 1, 1);
    }
  }
}

.slider__pagination.swiper-pagination {
  opacity: 0;
}

.animation-bar {
  width: 100%;
  height: 0;
  background-color: $c-dark;
  position: fixed;
  bottom: 0;
  transition: all 1s ease;

  .screen--story.transitioning~& {
    height: 100%;
    z-index: 1;
  }
}
